<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
import pandas as pd

In [5]:
def iv_num_filter(df,cols,y,min_iv_limit=0.02,max_iv_limit=1.5):
    global iv_rem_df

    cols_rem = []

    for col in cols:
        data_cut = pd.qcut(df[col],10,duplicates='drop') #将特征等频分箱为10箱
        cut_group_all = df[y].groupby(data_cut).count() #各箱体总样本数
        cut_y = df[y].groupby(df[col]).sum() #各箱体坏样本数
        cut_n = cut_group_all - cut_y #各箱体好样本数
        iv_df = pd.DataFrame()
        iv_df['sum'] = cut_group_all
        iv_df['bad_count'] = cut_y
        iv_df['good_count'] = cut_n
        iv_df.loc[iv_df['good_count']==0,'good_count'] = 0.01
        iv_df.loc[iv_df['bad_count']==0,'bad_count'] = 0.01
        iv_df['bad_rate'] = iv_df['bad_count']/iv_df['bad_count'].sum() #各箱体坏样本占总坏样本比例
        iv_df['good_rate'] = iv_df['good_count']/iv_df['good_count'].sum() #各箱体好样本占总坏样本比例
        iv_df['woe'] = np.log(iv_df['bad_rate']/iv_df['good_rate']) #各箱体的WOE值
        iv_df['iv_bin'] = iv_df['woe'] * (iv_df['bad_rate'] - iv_df['good_rate']) #各箱体的IV值
        iv_df['iv_sum'] = iv_df['iv_bin'].sum().round(3) #变量IV值
        iv_df = iv_df.reset_index().reset_index()
        iv_df = iv_df.rename(columns={'index':'number',col:'range'})
        iv_df = iv_df[['number','range','woe','iv_bin','iv_sum']]
        IV = iv_df['iv_sum'][0]

        # print('分箱结果：')
        # print(iv_df.head())
        # print(col+'IV值='+str(IV))

        if IV >= min_iv_limit and IV <=max_iv_liit:
            cols_rem.append(col)
        tmp_iv_df = pd.DataFrame([(col,IV)])  
        iv_rem_df = pd.concat([iv_rem_df,tmp_iv_df],axis=0)
        print('%s IV值=%f'%(col,IV))

    return cols_rem

In [3]:
data_df  =pd.read_csv('ds_salaries.csv')
data_df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [26]:
pd_bins = pd.cut(data_df['salary_in_usd'],bins = 10,duplicates='drop',include_lowest=False)
pd_bins
data_df['range'] = pd_bins
data_df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,range
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L,"(49618.8, 94105.6]"
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S,"(4687.132, 49618.8]"
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S,"(4687.132, 49618.8]"
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M,"(138592.4, 183079.2]"
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M,"(94105.6, 138592.4]"

In [27]:
pd_bins_dcit

0         (49618.8, 94105.6]
1        (4687.132, 49618.8]
2        (4687.132, 49618.8]
3       (138592.4, 183079.2]
4        (94105.6, 138592.4]
                ...
3750    (405513.2, 450000.0]
3751    (138592.4, 183079.2]
3752     (94105.6, 138592.4]
3753     (94105.6, 138592.4]
3754     (94105.6, 138592.4]
Name: salary_in_usd, Length: 3755, dtype: category
Categories (10, interval[float64, right]): [(4687.132, 49618.8] < (49618.8, 94105.6] < (94105.6, 138592.4] < (138592.4, 183079.2] ... (272052.8, 316539.6] < (316539.6, 361026.4] < (361026.4, 405513.2] < (405513.2, 450000.0]]

In [8]:
pd_cut_df.head()

0     (83972.8, 104000.0]
1     (5131.999, 59537.0]
2     (5131.999, 59537.0]
3    (165000.0, 185900.0]
4    (104000.0, 120000.0]
Name: salary_in_usd, dtype: category
Categories (10, interval[float64, right]): [(5131.999, 59537.0] < (59537.0, 83972.8] < (83972.8, 104000.0] < (104000.0, 120000.0] ... (149850.0, 165000.0] < (165000.0, 185900.0] < (185900.0, 219000.0] < (219000.0, 450000.0]]

In [13]:
for s in pd_cut_df:
    print(s)

(83972.8, 104000.0]
(5131.999, 59537.0]
(5131.999, 59537.0]
(165000.0, 185900.0]
(104000.0, 120000.0]
(219000.0, 450000.0]
(135000.0, 149850.0]
(185900.0, 219000.0]
(135000.0, 149850.0]
(135000.0, 149850.0]
(83972.8, 104000.0]
(120000.0, 135000.0]
(83972.8, 104000.0]
(185900.0, 219000.0]
(120000.0, 135000.0]
(135000.0, 149850.0]
(83972.8, 104000.0]
(165000.0, 185900.0]
(149850.0, 165000.0]
(149850.0, 165000.0]
(104000.0, 120000.0]
(219000.0, 450000.0]
(165000.0, 185900.0]
(219000.0, 450000.0]
(135000.0, 149850.0]
(219000.0, 450000.0]
(149850.0, 165000.0]
(185900.0, 219000.0]
(120000.0, 135000.0]
(83972.8, 104000.0]
(59537.0, 83972.8]
(219000.0, 450000.0]
(83972.8, 104000.0]
(219000.0, 450000.0]
(165000.0, 185900.0]
(149850.0, 165000.0]
(120000.0, 135000.0]
(104000.0, 120000.0]
(59537.0, 83972.8]
(83972.8, 104000.0]
(5131.999, 59537.0]
(5131.999, 59537.0]
(185900.0, 219000.0]
(104000.0, 120000.0]
(219000.0, 450000.0]
(219000.0, 450000.0]
(185900.0, 219000.0]
(165000.0, 185900.0]
(219000.0, 450000.0]
(219000.0, 450000.0]
(219000.0, 450000.0]
(165000.0, 185900.0]
(185900.0, 219000.0]
(185900.0, 219000.0]
(185900.0, 219000.0]
(120000.0, 135000.0]
(185900.0, 219000.0]
(135000.0, 149850.0]
(219000.0, 450000.0]
(165000.0, 185900.0]
(219000.0, 450000.0]
(165000.0, 185900.0]
(165000.0, 185900.0]
(104000.0, 120000.0]
(219000.0, 450000.0]
(165000.0, 185900.0]
(219000.0, 450000.0]
(185900.0, 219000.0]
(219000.0, 450000.0]
(149850.0, 165000.0]
(104000.0, 120000.0]
(59537.0, 83972.8]
(219000.0, 450000.0]
(185900.0, 219000.0]
(219000.0, 450000.0]
(185900.0, 219000.0]
(219000.0, 450000.0]
(165000.0, 185900.0]
(185900.0, 219000.0]
(135000.0, 149850.0]
(59537.0, 83972.8]
(149850.0, 165000.0]
(59537.0, 83972.8]
(219000.0, 450000.0]
(83972.8, 104000.0]
(165000.0, 185900.0]
(120000.0, 135000.0]
(219000.0, 450000.0]
(165000.0, 185900.0]
(165000.0, 185900.0]
(135000.0, 149850.0]
(5131.999, 59537.0]
(5131.999, 59537.0]
(104000.0, 120000.0]
(59537.0, 83972.8]
(149850.0, 165000.0]
(135000.0, 149850.0]
(185900.0, 219000.0]
(165000.0, 185900.0]
(185900.0, 219000.0]
(104000.0, 120000.0]
(135000.0, 149850.0]
(59537.0, 83972.8]
(149850.0, 165000.0]
(120000.0, 135000.0]
(165000.0, 185900.0]
(83972.8, 104000.0]
(149850.0, 165000.0]
(104000.0, 120000.0]
(219000.0, 450000.0]
(120000.0, 135000.0]
(185900.0, 219000.0]
(120000.0, 135000.0]
(219000.0, 450000.0]
(5131.999, 59537.0]
(149850.0, 165000.0]
(104000.0, 120000.0]
(219000.0, 450000.0]
(185900.0, 219000.0]
(165000.0, 185900.0]
(135000.0, 149850.0]
(219000.0, 450000.0]
(185900.0, 219000.0]
(219000.0, 450000.0]
(185900.0, 219000.0]
(165000.0, 185900.0]
(120000.0, 135000.0]
(219000.0, 450000.0]
(120000.0, 135000.0]
(149850.0, 165000.0]
(135000.0, 149850.0]
(149850.0, 165000.0]
(135000.0, 149850.0]
(219000.0, 450000.0]
(165000.0, 185900.0]
(83972.8, 104000.0]
(59537.0, 83972.8]
(83972.8, 104000.0]
(59537.0, 83972.8]
(135000.0, 149850.0]
(59537.0, 83972.8]
(59537.0, 83972.8]
(59537.0, 83972.8]
(185900.0, 219000.0]
(135000.0, 149850.0]
(219000.0, 450000.0]
(185900.0, 219000.0]
(83972.8, 104000.0]
(59537.0, 83972.8]
(185900.0, 219000.0]
(149850.0, 165000.0]
(219000.0, 450000.0]
(135000.0, 149850.0]
(83972.8, 104000.0]
(59537.0, 83972.8]
(104000.0, 120000.0]
(5131.999, 59537.0]
(5131.999, 59537.0]
(5131.999, 59537.0]
(135000.0, 149850.0]
(104000.0, 120000.0]
(165000.0, 185900.0]
(104000.0, 120000.0]
(219000.0, 450000.0]
(149850.0, 165000.0]
(185900.0, 219000.0]
(149850.0, 165000.0]
(149850.0, 165000.0]
(120000.0, 135000.0]
(149850.0, 165000.0]
(104000.0, 120000.0]
(135000.0, 149850.0]
(104000.0, 120000.0]
(219000.0, 450000.0]
(135000.0, 149850.0]
(5131.999, 59537.0]
(5131.999, 59537.0]
(219000.0, 450000.0]
(149850.0, 165000.0]
(219000.0, 450000.0]
(185900.0, 219000.0]
(59537.0, 83972.8]
(5131.999, 59537.0]
(5131.999, 59537.0]
(83972.8, 104000.0]
(5131.999, 59537.0]
(83972.8, 104000.0]
(59537.0, 83972.8]
(149850.0, 165000.0]
(135000.0, 149850.0]
(219000.0, 450000.0]
(219000.0, 450000.0]
(219000.0, 450000.0]
(185900.0, 219000.0]
(185900.0, 219000.0]
(165000.0, 185900.0]
(219000.0, 450000.0]
(185900.0, 219000.0]
(165000.0, 185900.0]
(104000.0, 120000.0]
(185900.0, 219000.0]
(104000.0, 120000.0]
(5131.999, 59537.0]
(219000.0, 450000.0]
(185900.0, 219000.0]
(165000.0, 185900.0]
(120000.0, 135000.0]
(185900.0, 219000.0]
(149850.0, 165000.0]
(185900.0, 219000.0]
(165000.0, 185900.0]
(219000.0, 450000.0]
(165000.0, 185900.0]
(219000.0, 450000.0]
(165000.0, 185900.0]
(104000.0, 120000.0]
(59537.0, 83972.8]
(5131.999, 59537.0]
(59537.0, 83972.8]
(59537.0, 83972.8]
(135000.0, 149850.0]
(104000.0, 120000.0]
(120000.0, 135000.0]
(59537.0, 83972.8]
(135000.0, 149850.0]
(104000.0, 120000.0]
(165000.0, 185900.0]
(135000.0, 149850.0]
(219000.0, 450000.0]
(219000.0, 450000.0]
(83972.8, 104000.0]
(59537.0, 83972.8]
(219000.0, 450000.0]
(149850.0, 165000.0]
(185900.0, 219000.0]
(135000.0, 149850.0]
(83972.8, 104000.0]
(135000.0, 149850.0]
(104000.0, 120000.0]
(185900.0, 219000.0]
(149850.0, 165000.0]
(219000.0, 450000.0]
(120000.0, 135000.0]
(219000.0, 450000.0]
(135000.0, 149850.0]
(185900.0, 219000.0]
(120000.0, 135000.0]
(185900.0, 219000.0]
(104000.0, 120000.0]
(83972.8, 104000.0]
(83972.8, 104000.0]
(59537.0, 83972.8]
(120000.0, 135000.0]
(104000.0, 120000.0]
(219000.0, 450000.0]
(165000.0, 185900.0]
(59537.0, 83972.8]
(59537.0, 83972.8]
(219000.0, 450000.0]
(149850.0, 165000.0]
(165000.0, 185900.0]
(135000.0, 149850.0]
(185900.0, 219000.0]
(135000.0, 149850.0]
(5131.999, 59537.0]
(5131.999, 59537.0]
(219000.0, 450000.0]
(120000.0, 135000.0]
(149850.0, 165000.0]
(104000.0, 120000.0]
(165000.0, 185900.0]
(104000.0, 120000.0]
(219000.0, 450000.0]
(135000.0, 149850.0]
(165000.0, 185900.0]
(104000.0, 120000.0]
(219000.0, 450000.0]
(135000.0, 149850.0]
(120000.0, 135000.0]
(104000.0, 120000.0]
(185900.0, 219000.0]
(165000.0, 185900.0]
(135000.0, 149850.0]
(120000.0, 135000.0]
(185900.0, 219000.0]
(149850.0, 165000.0]
(219000.0, 450000.0]
(135000.0, 149850.0]
(165000.0, 185900.0]
(120000.0, 135000.0]
(165000.0, 185900.0]
(135000.0, 149850.0]
(185900.0, 219000.0]
(149850.0, 165000.0]
(219000.0, 450000.0]
(135000.0, 149850.0]
(219000.0, 450000.0]
(149850.0, 165000.0]
(185900.0, 219000.0]
(120000.0, 135000.0]
(185900.0, 219000.0]
(135000.0, 149850.0]
(165000.0, 185900.0]
(83972.8, 104000.0]
(165000.0, 185900.0]
(104000.0, 120000.0]
(219000.0, 450000.0]
(165000.0, 185900.0]
(135000.0, 149850.0]
(59537.0, 83972.8]
(185900.0, 219000.0]
(104000.0, 120000.0]
(120000.0, 135000.0]
(104000.0, 120000.0]
(185900.0, 219000.0]
(149850.0, 165000.0]
(104000.0, 120000.0]
(83972.8, 104000.0]
(149850.0, 165000.0]
(135000.0, 149850.0]
(135000.0, 149850.0]
(104000.0, 120000.0]
(5131.999, 59537.0]
(219000.0, 450000.0]
(5131.999, 59537.0]
(219000.0, 450000.0]
(149850.0, 165000.0]
(5131.999, 59537.0]
(219000.0, 450000.0]
(149850.0, 165000.0]
(135000.0, 149850.0]
(104000.0, 120000.0]
(135000.0, 149850.0]
(104000.0, 120000.0]
(120000.0, 135000.0]
(59537.0, 83972.8]
(83972.8, 104000.0]
(5131.999, 59537.0]
(165000.0, 185900.0]
(120000.0, 135000.0]
(83972.8, 104000.0]
(59537.0, 83972.8]
(219000.0, 450000.0]
(135000.0, 149850.0]
(219000.0, 450000.0]
(165000.0, 185900.0]
(185900.0, 219000.0]
(120000.0, 135000.0]
(185900.0, 219000.0]
(120000.0, 135000.0]
(219000.0, 450000.0]
(135000.0, 149850.0]
(83972.8, 104000.0]
(59537.0, 83972.8]
(165000.0, 185900.0]
(120000.0, 135000.0]
(219000.0, 450000.0]
(149850.0, 165000.0]
(219000.0, 450000.0]
(185900.0, 219000.0]
(5131.999, 59537.0]
(149850.0, 165000.0]
(120000.0, 135000.0]
(135000.0, 149850.0]
(104000.0, 120000.0]
(83972.8, 104000.0]
(59537.0, 83972.8]
(185900.0, 219000.0]
(83972.8, 104000.0]
(219000.0, 450000.0]
(165000.0, 185900.0]
(120000.0, 135000.0]
(59537.0, 83972.8]
(219000.0, 450000.0]
(149850.0, 165000.0]
(149850.0, 165000.0]
(104000.0, 120000.0]
(219000.0, 450000.0]
(185900.0, 219000.0]
(135000.0, 149850.0]
(104000.0, 120000.0]
(149850.0, 165000.0]
(104000.0, 120000.0]
(185900.0, 219000.0]
(149850.0, 165000.0]
(149850.0, 165000.0]
(104000.0, 120000.0]
(165000.0, 185900.0]
(135000.0, 149850.0]
(185900.0, 219000.0]
(135000.0, 149850.0]
(59537.0, 83972.8]
(59537.0, 83972.8]
(5131.999, 59537.0]
(5131.999, 59537.0]
(83972.8, 104000.0]
(59537.0, 83972.8]
(120000.0, 135000.0]
(83972.8, 104000.0]
(104000.0, 120000.0]
(83972.8, 104000.0]
(165000.0, 185900.0]
(135000.0, 149850.0]
(120000.0, 135000.0]
(104000.0, 120000.0]
(149850.0, 165000.0]
(120000.0, 135000.0]
(219000.0, 450000.0]
(165000.0, 185900.0]
(219000.0, 450000.0]
(149850.0, 165000.0]
(165000.0, 185900.0]
(149850.0, 165000.0]
(185900.0, 219000.0]
(120000.0, 135000.0]
(165000.0, 185900.0]
(135000.0, 149850.0]
(219000.0, 450000.0]
(135000.0, 149850.0]
(149850.0, 165000.0]
(120000.0, 135000.0]
(59537.0, 83972.8]
(59537.0, 83972.8]
(135000.0, 149850.0]
(59537.0, 83972.8]
(59537.0, 83972.8]
(5131.999, 59537.0]
(165000.0, 185900.0]
(120000.0, 135000.0]
(185900.0, 219000.0]
(165000.0, 185900.0]
(120000.0, 135000.0]
(83972.8, 104000.0]
(120000.0, 135000.0]
(104000.0, 120000.0]
(185900.0, 219000.0]
(165000.0, 185900.0]
(165000.0, 185900.0]
(104000.0, 120000.0]
(219000.0, 450000.0]
(135000.0, 149850.0]
(219000.0, 450000.0]
(135000.0, 149850.0]
(149850.0, 165000.0]
(83972.8, 104000.0]
(185900.0, 219000.0]
(165000.0, 185900.0]
(104000.0, 120000.0]
(83972.8, 104000.0]
(165000.0, 185900.0]
(120000.0, 135000.0]
(185900.0, 219000.0]
(104000.0, 120000.0]
(59537.0, 83972.8]
(5131.999, 59537.0]
(219000.0, 450000.0]
(120000.0, 135000.0]
(83972.8, 104000.0]
(59537.0, 83972.8]
(149850.0, 165000.0]
(120000.0, 135000.0]
(219000.0, 450000.0]
(185900.0, 219000.0]
(165000.0, 185900.0]
(120000.0, 135000.0]
(165000.0, 185900.0]
(104000.0, 120000.0]
(185900.0, 219000.0]
(149850.0, 165000.0]
(135000.0, 149850.0]
(59537.0, 83972.8]
(59537.0, 83972.8]
(219000.0, 450000.0]
(185900.0, 219000.0]
(83972.8, 104000.0]
(59537.0, 83972.8]
(219000.0, 450000.0]
(165000.0, 185900.0]
(219000.0, 450000.0]
(219000.0, 450000.0]
(219000.0, 450000.0]
(219000.0, 450000.0]
(219000.0, 450000.0]
(18

In [7]:
data_df['salary_in_usd'].describe()

count      3755.000000
mean     137570.389880
std       63055.625278
min        5132.000000
25%       95000.000000
50%      135000.000000
75%      175000.000000
max      450000.000000
Name: salary_in_usd, dtype: float64